[package]
name = "tree-sitter-tlaplus"
description = "A tree-sitter grammar for TLA+"
version = "0.1.0"
authors = ["Andrew Helwer"]
license = "MIT"
readme = "README.md"
keywords = ["tlaplus", "tree-sitter", "grammar", "parser"]
categories = ["parsing", "text-editors"]
repository = "https://github.com/tlaplus-community/tree-sitter-tlaplus"
edition = "2018"

build = "bindings/rust/build.rs"
include = [
  "bindings/rust",
  "grammar.js",
  "queries",
  "src",
]

[lib]
path = "bindings/rust/lib.rs"

[dependencies]
tree-sitter = "0.19.5"

[build-dependencies]
cc = "1.0"
