name: Build & Test
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  build-and-test:
    runs-on: windows-latest
    steps:
      - name: "Clone repo"
        uses: actions/checkout@v2
      - name: "Install node"
        uses: actions/setup-node@v2
      - name: "Build"
        run: "npm install"
      - name: "Test"
        run: "node_modules/.bin/tree-sitter test"
  