name: Build & Test
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  build-and-test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]
      fail-fast: false
    steps:
      - name: Clone repo
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Smoke-test fuzzing harness
        if: matrix.os == 'ubuntu-latest'
        shell: bash
        run: |
          test/fuzzing/build-for-fuzzing.sh
          timeout 5 test/fuzzing/out/tree_sitter_tlaplus_fuzzer || (($? == 124))
      - name: Install Node.js
        uses: actions/setup-node@v3
      - name: Build
        run: npm install
      - name: Unit Tests
        run: ./node_modules/.bin/tree-sitter test
      - name: Crash Regression Tests
        shell: bash
        run: |
          ./node_modules/.bin/tree-sitter init-config
          ./node_modules/.bin/tree-sitter parse -q test/crash_regressions/QEDErrorRecovery.tla || (($? == 1))
      - name: Corpus Tests (Windows)
        if: matrix.os == 'windows-latest'
        shell: pwsh
        run: .\test\run-corpus.ps1
      - name: Corpus Tests (Unix)
        if: matrix.os == 'ubuntu-latest'
        shell: bash
        run: ./test/run-corpus.sh --parallel
      - name: Corpus Tests (MacOS)
        if: matrix.os == 'macos-latest'
        shell: bash
        run: ./test/run-corpus.sh
      - name: Query File Tests
        shell: pwsh
        run: |
          $query_files = Get-ChildItem `
            -Path @(".\queries", ".\integrations") `
            -Filter "*.scm" `
            -Recurse
          $results = $query_files.FullName `
            |% { `
              Write-Host (Resolve-Path -Path $_ -Relative); `
              ./node_modules/.bin/tree-sitter query $_ ./test/examples/Highlight.tla | Out-Null; `
              $lastexitcode `
            }
          $failures = $results |? {$_ -ne 0}
          exit $failures.length
      - name: Generate parser code
        run: ./node_modules/.bin/tree-sitter generate
      - name: Renormalize line endings
        shell: bash
        run: git add --renormalize .
      - name: List changes
        shell: bash
        run: git status
        # Command from https://stackoverflow.com/a/62768943/2852699
      - name: Check grammar/code sync
        shell: bash
        run: |
          diff_count=$(git status --porcelain=v1 2>/dev/null | wc -l)
          exit $diff_count
